<div
  class="search-result"
  infinite-scroll
  [infiniteScrollDistance]="scrollDistance"
  [infiniteScrollUpDistance]="scrollDistance"
  [infiniteScrollThrottle]="throttle"
  (scrolled)="onScrollDown()"
>
  <div *ngFor="let item of data; index as index">
    <ng-container
      [ngTemplateOutlet]="getTemplate(data[index].length)"
      [ngTemplateOutletContext]="{ index, item: data[index] }"
    ></ng-container>
  </div>
</div>

<ng-template #triple let-index="index" let-item="item">
  <div
    [ngClass]="
      index % 2 == 0 ? 'grid category-grid' : 'grid category-grid-reverse'
    "
  >
    <div
      [ngClass]="index % 2 == 0 ? 'big-cat' : 'big-cat-reverse'"
      [style.background]="'url(assets/img/blob-scene-haikei_1.svg)'"
    >
      <div class="centeri">
        <div class="card">
          <img
            src="{{ item[0].product_img }}"
            class="foto"
            style="width: 100%"
          />
          <header>
            <h1>{{ item[0].title }}</h1>
          </header>
        </div>
      </div>
    </div>
    <div
      [ngClass]="index % 2 == 0 ? 'small-up-cat' : 'small-up-cat-reverse'"
      [style.background]="'url(assets/img/blob-scene-haikei.svg)'"
    >
      <div class="little-centeri">
        <div class="little-card">
          <img
            src="{{ item[1].product_img }}"
            class="foto little"
            style="width: 100%"
          />
          <header class="little">
            <h1 class="little">{{ item[1].title }}</h1>
          </header>
        </div>
      </div>
    </div>
    <div
      [ngClass]="index % 2 == 0 ? 'small-down-cat' : 'small-down-cat-reverse'"
      [style.background]="'url(assets/img/blob-scene-haikei.svg)'"
    >
      <div class="little-centeri">
        <div class="little-card">
          <img
            src="{{ item[2].product_img }}"
            class="foto little"
            style="width: 100%"
          />
          <header class="little">
            <h1 class="little">{{ item[2].title }}</h1>
          </header>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #double let-item="item">
  <div class="grid double-category">
    <div
      class="db-cat-left"
      [style.background]="'url(assets/img/blob-scene-haikei.svg)'"
    >
      <div class="centeri">
        <div class="card">
          <img
            src="{{ item[0].product_img }}"
            class="foto"
            style="width: 100%"
          />
          <header>
            <h1>{{ item[0].title }}</h1>
          </header>
        </div>
      </div>
    </div>
    <div
      class="db-cat-right"
      [style.background]="'url(assets/img/blob-scene-haikei.svg)'"
    >
      <div class="centeri">
        <div class="card">
          <img
            src="{{ item[1].product_img }}"
            class="foto"
            style="width: 100%"
          />
          <header>
            <h1>{{ item[1].title }}</h1>
          </header>
        </div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #single let-item="item">
  <div class="grid single-category">
    <div
      class="sg-cat"
      [style.background]="'url(assets/img/blob-scene-haikei.svg)'"
    >
      <div class="centeri">
        <div class="card">
          <img
            src="{{ item[0].product_img }}"
            class="foto"
            style="width: 100%"
          />
          <header>
            <h1>{{ item[0].title }}</h1>
          </header>
        </div>
      </div>
    </div>
  </div>
</ng-template>
