.category-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 2%;
}

.category-grid-reverse {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10%;
}

.grid > div {
  box-sizing: border-box;
  border-radius: 25px;
  padding: 15px;
  margin: 5px;
  background-color: white;
}

.grid > div > div.text {
  border-radius: 20px;
  height: 100%;
  padding: 20px;
}

.big-cat {
  grid-area: 1 / 1 / 6 / 3;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 100%;
  object-fit: contain;
}

.small-up-cat {
  grid-area: 1 / 3 / 3 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-down-cat {
  grid-area: 3 / 3 / 5 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  position: fixed;
  top: -8%;
  left: 0%;
  border-radius: 50px;
  opacity: 0.9;
  transition: 0.5s;
}

h1 {
  transition: transform 2s;
  font-size: 40px;
  color: white;
  font-family: "Big Shoulders Display";
}
.card:hover > p {
  opacity: 1;
  transform: scale(1.5);
  top: 80%;
}
img,
#category-grid {
  cursor: pointer;
}
.card:hover > img {
  opacity: 1;
  transform: scale(1.4);
}
.card header {
  position: absolute;
  top: 135%;
  left: 10%;
  padding: 1px;
  border-radius: 25px;
  width: 450px;
  height: 90px;
  transition: all 0.5s;
  opacity: 0;
}
.card:hover > header {
  opacity: 1;
  width: 450px;
  height: 90px;
  transform: translateY(-120px);
}

.card {
  transition: transform 0.7s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: white;
  width: 250px;
  height: 250px;
}
.card:hover {
  transform: scale(1.08);
}

.centeri {
  transform: translate(0%, 0%);
}

span {
  position: relative;
}

.big-cat-reverse {
  grid-area: 1 / 3 / 5 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-up-cat-reverse {
  grid-area: 1 / 1 / 3 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}
.small-down-cat-reverse {
  grid-area: 3 / 1 / 5 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.little {
  position: fixed;
  top: -8%;
  left: 0%;
  border-radius: 50px;
  opacity: 0.9;
  transition: 0.5s;
}

h1.little {
  transition: transform 2s;
  font-size: 35px;
  color: white;
  font-family: "Big Shoulders Display";
}
.little-card:hover > p {
  opacity: 1;
  transform: scale(1.5);
  top: 80%;
}
img,
#category-grid {
  cursor: pointer;
}
.little-card:hover > img {
  opacity: 1;
  transform: scale(1.2);
}
.little-card header {
  position: absolute;
  top: 135%;
  left: 10%;
  padding: 1px;
  border-radius: 25px;
  width: 450px;
  height: 90px;
  transition: all 0.5s;
  opacity: 0;
}
.little-card:hover > header {
  opacity: 1;
  width: 450px;
  height: 90px;
  transform: translateY(-120px);
}

.little-card {
  transition: transform 0.7s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 500px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background: white;
  width: 140px;
  height: 140px;
}
.little-card:hover {
  transform: scale(1.08);
}

.little-centeri {
  transform: translate(0%, 0%);
}

.double-category {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px;
}

.db-cat-left {
  grid-area: 1 / 1 / 5 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.db-cat-right {
  grid-area: 1 / 3 / 5 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-category {
  display: grid;
  grid-template-columns: (4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 1400px;
  height: 400px;
  margin: 0 auto;
  margin-top: 10%;
  padding: 10px;
}

.sg-cat {
  grid-area: 1 / 1 / 5 / 5;
  display: flex;
  align-items: center;
  justify-content: center;
}
