<p-multiSelect
  inputId="multiselect"
  [options]="categories | capitalizeArray"
  [(ngModel)]="catsSelected"
  optionLabel="title"
  defaultLabel="Categorias"
  [filter]="false"
  [style]="{ width: '100%' }"
  (onChange)="changeCategoryUrl()"
></p-multiSelect>
<br><br>
<p-multiSelect
  inputId="multiselect"
  [options]="conditions"
  [(ngModel)]="conditionSelected"
  defaultLabel="Codición"
  [filter]="false"
  [style]="{ width: '100%' }"
  (onChange)="changeCategoryUrl()"
></p-multiSelect>
