<div class="home-categories-container">
  <div class="home-categories-list">
    <p-carousel [value]="items" [showIndicators]="false" [showNavigators]="true" [numVisible]="5" [numScroll]="1"
      [circular]="true">
      <ng-template let-item pTemplate="item">
        <div id="catWrapper" class="home-categories-list-content-wrapper">
          <div class="home-categories-list-content">
            <ul>
              <li id="items-list" class="home-categories-list-item">
                <a class="home-category-link" href="" title="{{ item.title }}">
                  <div class="home-categories-item-icon-wrapper">
                    <app-fa-icon icon="{{ item.icon }}"></app-fa-icon>
                    <h6>{{ item.title }}</h6>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
