.container-content-auth {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-form-auth {
    margin-top: 5%;
    width: 450px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 15px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 100%;
    margin: 15px;
    display: flex;
    flex-direction: column;
}

.form-group>label {
    margin-bottom: 5px;
}

.form-group>input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#butt-login {
    width: 20%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #1e88e5;
    color: #fff;
    font-weight: bold;
    margin-top: 15px;
}

.link-for-auth {
    width: 100%;
}

.link-for-auth a {
    color: #1e88e5;
    /* text-decoration: none; */
}