.container-shop {
  margin-top: 2%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.filters-container {
  grid-area: 1 / 1 / 3 / 2;
  /* background-color: blue; */
  /* width: 100%; */
}

.products-container {
  grid-area: 1 / 2 / 3 / 5;
  /* background-color: green; */
}

.container-products {
  margin-top: 1%;
  width: 80%;
  margin-left: 20%;
  display: grid;
  grid-template-columns: repeat(4, 0fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.product {
  height: 100%;
  width: 100%;
  padding: 25px 35px;
  display: flex;
  flex-direction: column;
}

.product-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 15px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contianer-footer-product {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.see-button {
  color: white;
  width: 100%;
  background-color: #468ac7;
  text-align: center;
  padding: 5px;
}

.see-button:hover {
  background-color: #336d9f;
  cursor: pointer;
}

.top-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.top-actions * {
  padding: 10px;
  width: fit-content;
}

.price {
  color: #468ac7;
}

.title,
.price,
.short-description {
  width: 100%;
  padding-left: 10px;
  height: auto;
}

.img-product {
  height: 200px;
}

.img-product img {
  height: 200px;
}

@media (max-width: 1800px) {
  .container-products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1100px) {
  .container-products {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 950px) {
  .container-products {
    grid-template-columns: repeat(1, 1fr);
  }
}

:host ::ng-deep .p-dropdown {
  width: 14rem;
  font-weight: normal;
}
:host ::ng-deep .product-name {
  font-size: 1.5rem;
  font-weight: 700;
}
:host ::ng-deep .product-description {
  margin: 0 0 1rem 0;
}
:host ::ng-deep .product-category-icon {
  vertical-align: middle;
  margin-right: 0.5rem;
}
:host ::ng-deep .product-category {
  font-weight: 600;
  vertical-align: middle;
}
:host ::ng-deep .product-list-item {
  display: flex;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
:host ::ng-deep .product-list-item img {
  width: 150px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin-right: 2rem;
}
:host ::ng-deep .product-list-item .product-list-detail {
  flex: 1 1 0;
}
:host ::ng-deep .product-list-item .p-rating {
  margin: 0 0 0.5rem 0;
}
:host ::ng-deep .product-list-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  align-self: flex-end;
}
:host ::ng-deep .product-list-item .product-list-action {
  display: flex;
  flex-direction: column;
}
:host ::ng-deep .product-list-item .p-button {
  margin-bottom: 0.5rem;
}
:host ::ng-deep .product-grid-item {
  margin: 0.5em;
  border: 1px solid #dee2e6;
}
:host ::ng-deep .product-grid-item .product-grid-item-top,
:host ::ng-deep .product-grid-item .product-grid-item-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
:host ::ng-deep .product-grid-item img {
  width: 75%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  margin: 2rem 0;
}
:host ::ng-deep .product-grid-item .product-grid-item-content {
  text-align: center;
}
:host ::ng-deep .product-grid-item .product-price {
  font-size: 1.5rem;
  font-weight: 600;
}
.card {
  padding: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  margin-bottom: 2rem;
}

.actions {
  margin: 10px;
  width: 100%;
}

@media screen and (max-width: 576px) {
  :host ::ng-deep .product-list-item {
    flex-direction: column;
    align-items: center;
  }
  :host ::ng-deep .product-list-item img {
    width: 75%;
    margin: 2rem 0;
  }
  :host ::ng-deep .product-list-item .product-list-detail {
    text-align: center;
  }
  :host ::ng-deep .product-list-item .product-price {
    align-self: center;
  }
  :host ::ng-deep .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
  }
  :host ::ng-deep .product-list-item .product-list-action {
    margin-top: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
