.container-shop {
    width: 80%;
    margin: 0 auto;
}

.container-products {
    /* height: 100%; */
    margin-top: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.product {
    height: 450px;
    width: 100%;
    padding: 25px 35px;
    display: flex;
    flex-direction: column;
}

.product-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-radius: 10px;
    padding: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 0px 15px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.contianer-footer-product {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.see-button {
    color: white;
    width: 100%;
    background-color: #468AC7;
    padding: 5px;
    text-align: center;
}

.see-button:hover {
    cursor: pointer;
}

.price {
    color: #468AC7;
}

.title,
.price,
.short-description {
    width: 100%;
    padding-left: 10px;
    height: auto;
}


.img-product {
    height: 200px;
}

.img-product img {
    height: 200px;
}

@media (max-width: 1800px) {
    .container-products {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1100px) {
    .container-products {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 950px) {
    .container-products {
        grid-template-columns: repeat(1, 1fr);
    }
}