<div class="container-shop">
  <div class="filters-container">
    <app-filters (n_pages)="setNpages($event)" (products)="setProducts($event)"></app-filters>
  </div>

  <div class="products-container">
    <div class="container-products">
      <div *ngFor="let item of products" class="product">
        <div class="product-content">
          <div class="img-product">
            <img src="{{ item.imgUrl[0] }}" alt="{{ item.name }}" />
          </div>
          <div class="title">
            <h2>{{ item.name }}</h2>
          </div>
          <div class="short-description">
            <p>{{ item.description }}</p>
          </div>
          <div class="contianer-footer-product">
            <div class="actions">
              <div class="top-actions">
                <div class="price">
                  <h3>{{ item.price }} €</h3>
                </div>
                <app-favorite [product]="item"></app-favorite>
              </div>
              <div class="see-button" (click)="redirect(item.slug)">
                Ver producto
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="paginator" *ngIf="n_pages">
      <div class="btn-paginator" *ngFor="let number of counter(n_pages); let index=index" (click)="setPage(index + 1)">
        <button>{{ index + 1 }}</button>
      </div>
    </div>
  </div>
</div>
